.container {
  min-height: 60vh;
  margin: 2rem 10rem 3rem 10rem;
  @media (max-width: 997px) {
    margin: 2rem 5rem 3rem 5rem;
  }
  @media (max-width: 768px) {
    margin: 2rem 2rem 3rem 2rem;
  }
}