.btn{
  &-dark {
    height: 48px;
    background-color: #0b74e5;
    color: #ffffff;
    &:hover {
      background-color: #ffffff !important;
      color: #0b74e5 !important;
      border: 1px solid #0b74e5 !important;
    }
  }
  &-light {
    height: 48px;
    background-color: #ffffff;
    color: #0b74e5;
    border: 1px solid #0b74e5 !important;
    &:hover {
      background-color: #0b74e5 !important;
      color: #ffffff !important;
      border: 1px solid #0b74e5 !important;
    }
  }
}