.category{
    display: flex;


}
.righ{
    width: 50%;
    
}
.left{
    width: 50%;

}
.img1{
    margin-top: 15px;
    width:600px;
    height: 600px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: 2%;
}
.smallimg{
    display: flex;
    width: 600px;
    position: relative;
    left: 120px;
}
.img2{
    width: 150px;
    height: auto;
    margin: 10px;
    box-shadow: 0 2px 12px 0 rgba(128, 128, 128, 0.795);
    border-radius: 5%;
}
.righ1{
    border-bottom: solid rgba(128, 128, 128, 0.271);
    margin: 10px;
    border-spacing: 10px;
}
.righ2 {
    border-bottom: solid rgba(128, 128, 128, 0.271);
    margin: 10px;
}
.righ2 select{
    width: 250px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(57, 213, 57);
    color: white;
    font-size:25px;
    text-align: center;
    margin-bottom: 10px;
}
.righ12{
    display: flex;
}
.righ12 button{
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    position: relative;
    left:200px;
}
.but1{
    color:white;
    background-color: rgba(0, 128, 0, 0.811);
}
.but2{
    color:black;
    background-color: white;
    border: solid greenyellow;
}
.righ11 input{
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    background-color:rgba(0, 128, 0, 0.811);
    color: white;
    font-size: 25px;
    border: none;
    text-align: center;
}
