.signup {
  &-container {
  display: flex;
  justify-content: center;
  align-items: center;
    &-card {
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 2rem;
    }
  }
  &-input {
    height: 48px;
    border-radius: 20px;
  }
  &-forgot-password {
    text-align: center;
    margin: 1rem 0;
  }
  &-other {
    margin: 1rem 0;
    div {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem auto;
      button {
        height: 3rem;
      }
    }
  }
}

